
.campo.show{
    display: flex;
}
.campo{
    position: absolute;
    margin-top: 30px;
    display: flex;
}
.confete .lista.show{
    display: flex;
}
.confete .lista{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
}
.confete{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
}
.confete img{
    border-radius: 50%;
    animation: reprov 0.4s linear;
    margin-top: 50px;
    margin-left: 20px;
    position: absolute;
    width: 150px;
    height: 150px;
}
.confete i{
    z-index: 100;
    box-shadow: 0px 0px 2px rgb(247, 247, 247);
    opacity: 0;
    border: 1px solid var(--cor);
    font-style: normal;
    display: flex;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 8%;
    animation: confete 4.5s ease-in-out;
    animation-duration: calc(40s /var(--i));
    animation-delay: 0.1s;

}
@keyframes confete {
    0%{
        opacity: 1;
    }
    50%{
        height: 8%;
    }
    
    99%{
        transform:  translateX(30px) translateY(100vh) rotateX(23deg) scale(1) rotateY(102deg);
    }
    100%{

        transform:translateX(10px) translateY(100vh) scale(0) rotateZ(90deg) rotateY(40deg) rotate3d(1,1,1, 45deg);
        opacity: 1;
        height: 0px;
    }
}
@keyframes reprov {
    0%{
        opacity: 0;
        scale: 2;
        box-shadow: 0px 0px 0px var(--cor);
    }
    70%{
        box-shadow: 0px 0px 37px var(--cor);
        opacity: 1;
        scale: 1;
    }
    100%{
        box-shadow: 0px 0px 37px var(--cor);
        opacity: 1;
        scale: 1;
    }
}
@media screen and (max-width:600px) {
    .campo{
        margin-top: 65vh;
    }
    .confete i{
        animation: confete 2.5s ease-in-out;
        animation-duration: calc(70s /var(--i));
        animation-delay: 0.1s;    
        box-shadow: 0px 0px 0px rgb(112, 112, 112);
        height: 5%;
    }
}