header{
    z-index: 99;
    position: fixed;
    top: 0;
    height: 45px;
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(rgb(255, 255, 255), rgb(187, 255, 246)) ;
    box-shadow: 1px 1px 8px rgba(51, 51, 51, 0.533);
}
header .selo .gira{
    border-radius: 0% 100% 50% 50% / 0% 0% 100% 100%  ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
    top:0px;
    background: rgb(22, 145, 228);
    height: 100%;
    width: 67.6px;
}
header .selo .gira.rodar{
    transition: all ease 0.3s;
    transform: rotate(315deg);
    box-shadow: 0px 0px 0px rgba(51, 51, 51, 0.533);
}
header .selo img{
    width: 45px;
    height: 45px;
    scale: 0.8;
}
