.conteudo{
    margin-top: 42px;
    width: 100%;
    height: 1312px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.conteudo .comeco{
    padding-top: 54px;
    width: 100%;
    height: 340ppx;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 34px;
}
.conteudo .estilo{
    width:100%;
    height:40px;
    display:flex; 
    justify-content:center;
}
.conteudo .estilo img{
    height: 100%;
    width: 7%;
}
.conteudo .comeco h1{
    color: #143f42;
    font-size: 52px;
    padding-bottom: 19px;
}
.conteudo .comeco h3{
    width: 53%;
}
.conteudo .descri{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px rgba(51, 51, 51, 0.533);
    height:100%;
    margin-top: 34px;
    margin-left: 34px;
    margin-bottom: 34px; 
    width:24%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px rgba(51, 51, 51, 0.533);
}
.conteudo .container{
    margin-top: 34px;
    margin-right: 34px;
    margin-bottom: 34px; 
    background: #3951b2;
    height:100%; 
    width:100%; 
    box-shadow: 1px 1px 8px rgba(51, 51, 51, 0.533);
}
.conteudo .container .loading{
    border-radius: 20px;
    transition: all ease 0.2s;
    opacity: 1;
    position: absolute;
    width: 76.5%;
    height: 91.5%;
    background: rgb(42, 70, 122);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.conteudo .container .loading img{
    transition: all ease 0.3s;
    animation: loading 1s linear infinite;
    width: 123px;
    height: 123px;
}
.conteudo .container a{
    transition: all ease 0.2s;
    opacity: 0;
    position: absolute;
    width: 76.5%;
    height: 91.5%;
    background: rgba(46, 46, 46, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo .container a img{
    width: 123px;
    height: 123px;
}
.conteudo .container a:hover{
    opacity: 1;
}
.conteudo .descri::-webkit-scrollbar{
    display: none;
}
.conteudo .descri .box{
    border-bottom: 2px solid rgba(94, 94, 94, 0.26);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 230px;
    height: 104px;
}
.conteudo .descri .box input{
    font-weight: 800;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(169, 188, 228);
    border-radius: 5px;
    font-size: 20px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
}
.conteudo .descri .box input::placeholder{
    color: rgb(204, 204, 204);
}
.conteudo .descri .box input:focus{
    border-bottom: 2px solid rgb(42, 89, 190) ;
}
.conteudo .descri .box h3{
    background: rgb(59, 117, 119);
    color: white;
    border: 1px solid lightgrey;
    font-size: 17px;
}
.conteudo .descri .linha{
    align-items: center;
    display: flex;
    width: 100%;
    height: 65px;
}
.conteudo .descri .linha select{
    border: 2px solid rgb(169, 188, 228);
    border-radius: 10px;
    height: 26px;
    margin: 0;
    width: 80%;
    font-size: 20px;
}
.conteudo .descri .linha input{
    width: 80%;
}
.conteudo .descri .linha h4{
    width: 20%;
    font-size: 20px;
}
.linha select .BauerBodoniStd-Roman{
    font-family: BauerBodoniStd-Roman;
}
.linha select .BODONI BK BT BOOK ITALIC{
    font-family: BODONI BK BT BOOK ITALIC;
}
.linha select .BODONI BK BT BOOK{
    font-family: BODONI BK BT BOOK;
}
.linha select .cac_champagne{
    font-family: cac_champagne;
}
.linha select .Net-WT-Hilton-Script-Regular{
    font-family: Net-WT-Hilton-Script-Regular;
}
.linha select .Roboto-Black{
    font-family: Roboto-Black;
}
.linha select .Roboto-BlackItalic{
    font-family: Roboto-BlackItalic;
}
.linha select .Roboto-Bold{
    font-family: Roboto-Bold;
}
.linha select .Roboto-BoldCondensed{
    font-family: Roboto-BoldCondensed;
}
.linha select .Roboto-BoldCondensedItalic{
    font-family: Roboto-BoldCondensedItalic;
}
.linha select .Roboto-BoldItalic{
    font-family: Roboto-BoldItalic;
}
.linha select .Roboto-Condensed{
    font-family: Roboto-Condensed;
}
.linha select .Roboto-CondensedItalic{
    font-family: Roboto-CondensedItalic;
}
.linha select .Roboto-Italic{
    font-family: Roboto-Italic;
}
.linha select .Roboto-Light{
    font-family: Roboto-Light;
}
.linha select .Roboto-LightItalic{
    font-family: Roboto-LightItalic;
}
.linha select .Roboto-Medium{
    font-family: Roboto-Medium;
}
.linha select .Roboto-MediumItalic{
    font-family: Roboto-MediumItalic;
}
.linha select .Roboto-Regular{
    font-family: Roboto-Regular;
}
.linha select .Roboto-Thin{
    font-family: Roboto-Thin;
}
.linha select .Roboto-ThinItalic{
    font-family: Roboto-ThinItalic;
}
.conteudo button{
    font-weight: 800;
    color: white;
    font-size: 23px;
    background: #3951b2;
    width: 210px;
    border-radius: 12px;
    height: 56px;
    outline: none;
    border: none;
}
.conteudo  button:hover{
    cursor: pointer;
    background: white;
    color: #3951b2;
    border: 1px solid #3951b2;
}
.conteudo .principal{
    max-height: 600px;
    max-width: inherit;
    width: inherit;
    height: inherit;
}
.conteudo .modelo{
    box-shadow: 5px 5px 18px rgba(51, 51, 51, 0.533);
    transition: all ease 0.2s;
    scale: 0.9;
    width: 20%;
    height: 65%;
    border: 1px solid black;
    border-radius: 20px;
}
.conteudo .modelo:hover{
    border: 1px solid rgb(59, 71, 173);

    cursor: pointer;
    scale: 1;
}
@keyframes loading {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}
